# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.class

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
*.jks
key.properties

# IDE
.idea/
*.iws
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
coverage/
